#logo {
    width: 100%;
    border: 2px solid black;
    border-radius: 20px;
}

#heading {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #337ab7;
    color: white;
}

.sidemenu {
    width: 100%;
}

.aligncenter {
    text-align: center
}

.right {
    float: right;
}


.viewer {
    width: 100%;
    height: 400px;
}

.anchor {
    color: white;
    text-decoration: none;
}

.anchor:hover {
    color: white;
    text-decoration: none;
}
